/* General styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* Header styles */
header {
    background-color: #7cd2b3;
    color: white;
    padding: 20px;
    position: relative;
    text-align: center;
}

header img {
    max-width: 100px; /* Limit the size of the header image */
    height: auto;
    margin-bottom: 10px;
}

/* Main content styles */
main {
    padding: 20px;
}

#menu {
    margin-bottom: 20px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #7a99a6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #b0d5d6;
}

#content {
    margin-top: 20px;
}

.stock-item {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px;
    text-align: left;
    background-color: #ffffff;
}

.stock-item span {
    margin: 5px 0;
}

.stock-item button {
    margin-top: 10px;
    background-color: #ff7f7f;
}

.stock-item button:hover {
    background-color: #ff4c4c;
}
